body {
    background-color: #2f7819;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000; 
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: #ffffff;
}

.topo_pt {
    background-image: url('../imagens/header_pt.png');
    background-position:left;
    background-repeat:no-repeat;
    background-color: #ffffff;
    position:relative;
    height: 8em;
    top: 0;
    left: 0px;
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
}

.topo_en {
    background-image: url('../imagens/header_en.png');
    background-position:left;
    background-repeat:no-repeat;
    background-color: #ffffff;
    position:relative;
    height: 8em;
    top: 0;
    left: 0px;
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
}

.topo_es {
    background-image: url('../imagens/header_es.png');
    background-position:left;
    background-repeat:no-repeat;
    background-color: #ffffff;
    position:relative;
    height: 8em;
    top: 0;
    left: 0px;
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
}

.rodape {
    position: relative;
    padding: 1em;
    margin: 0;
    background-color: #ba7c04;
    clear: both;
    color: #FFFFFF;
    font-size: 9pt;
    text-align: center;
}

.menu {
    position: relative;
    margin: 0;
    clear: both;
    background: #ba7c04; 
    height:4em;
    text-align: center;
}

.menu ul
{
    margin-top:0;
    display:table;
}


.menu ul li {
    margin: 0 1em 0 0;
    padding: 0px;    
    float: left;
    list-style-type: none;
}

.menu ul li a
{
    display:block;  
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu ul li a:hover{
    display:block;
    color:#1485CC;
    font-size: 10pt;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.centro {
    position: relative;
    min-height: 40em;
    background-color: #ffffff;
    margin-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

.titulo {
    color: #000000;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

.subtitulo {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    padding-bottom: 1em;
}

.conteudo {
    text-align: justify;
    font-size: 10pt;
}

.programacao {
    border-collapse: collapse;
    border: 0;
    font-size: 9pt;
    margin:0 auto;
    text-align: left;
    padding: 3px;
}

.programacao th {
    border-bottom: 1px outset #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding: 1em;
}

.programacao tr td {
    border-bottom: 1px outset #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding: 1em;
}

a:link, a:visited {
    color: #e46c0a;
    font-size: 10pt;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #e46c0a;
    font-size: 10pt;
    text-decoration : underline;
}

.right {
    float: right;
    padding-left: 3em;
    width: 18em;
    min-height: 50em;
}

.datas {
    margin: 0;
    padding: 1em;
    border: 1px solid #ba7c04;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px;
    border-radius: 10px; 
    behavior:url('./border-radius.htc');    
}

.datas #um {
    text-align: center;
    font-weight: bold;
    color: #ba7c04;
}

.datas #dois {
    text-align: left;
    font-size: 8pt;
}

.datas #tres {
    text-align: left;
    font-weight: bold;
    color: #ba7c04;
    font-size: 9pt;
}

#apoio {
    font-weight: bold;
}

#ihc_clihc {
    color: #1485CC;
    font-size: 10pt;
    font-weight: bold;
    text-decoration : none;
}

.likebox-frame{
    border:1px solid #ba7c04;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px;   
    border-radius: 10px; 
    behavior:url('./border-radius.htc');    
    overflow: hidden;
    position:relative;
}

.likebox-frame iframe{
    overflow:hidden;
    position:relative;
    border: none;
    width:214px; 
    height:365px;
}