body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../img/bgGeral.jpg) repeat-x;
	font-size:10px;
}
.clear{ clear:both;}



.topo{
	background-color:#FFF;
	width:100%;
	height:1034px;
	position:absolute;
	z-index:1000;
	}
	
#beta{
	background:url(../img/beta.png) top;
	width:64px; height:64px;
	position:fixed;
	top:0;
	margin:0;
	left:0px;
	z-index:3000;
	}

#idioma{
	background:url(../img/idioma.png) top;
	width:119px; height:31px;
	position:fixed;
	top:0;
	margin:0;
	left:87%;
	z-index:150;
	}
#idiomaEn{
	width:54px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 0px 0px;
	float:left;
	}
#idiomaEn:hover{
	background:url(../img/idioma.png) 0px 31px;
}
#idiomaPt{
	width:65px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 65px 0px;
	float:right;
	}
#idiomaPt:hover{
	background:url(../img/idioma.png) 65px -31px;
}

#logo{
	background:url(../img/logo.jpg);
	width:523px; height:71px;
	top:101px; left:-180px;
	position:relative;
	margin:auto;
	}

#menuHorz{
	width:952px;
	height:49px;
	top:200px;
	margin:auto;
	display:block;
	position:relative;
	background:url(../img/bgMenu.png) repeat-x;
	}

#menuHorz ul{
	list-style:none;
	}

#menuHorz li{
	display:inline;
	float:left;
	left:-10px;
	line-height:49px;
	margin:0 15px 0 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li a{
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li:hover, a:hover{
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
	
#pontaMenu{
	background:url(../img/pontaMenu.png);
	width:25px; height:49px;
	float:left;
	position:relative;
	left:-25px;
	}

#peixeCima{
	background:url(../img/peixe.png);
	width:327px; height:169px;
	float:right;
	left:66%;
	margin: -180px 0 0 0;
	position:absolute;
	z-index:100;
	
	}
	
#peixeBaixo{
	background:url(../img/peixe.png) -95px -159px no-repeat;
	width:235px; height:99px;
	float:right;
	left:76%;
	top:160px;
	margin: -180px 0 0 0;
	position:absolute;
	z-index:100;
	
	}

.conteudo{
	width:970px;
	height:524px;
	margin:auto;
	display:block;
	position:relative;
	top:280px;
	padding: 0 0 0 30px;
	}

	
.lateralMenu{
	background-image:url(../img/menuLateral.jpg);
	width:195px;
	height:323px;
	float:right;
	font-size:0px;
	}
	
	
#btInscr{
	background-image:url(../img/menuLateral.jpg);
	width:195px;
	height:72px;
	display:block;
	
	
	}	
	
#btInscr:hover{
	background:url(../img/menuLateral.jpg) -195px 0px;
	
}
	
#btHoteis{
	background:url(../img/menuLateral.jpg) 0px -150px;
	width:195px;
	height:29px;
	margin:78px 0 0 0;
	display:block;	
	
}
#btHoteis:hover{
	background:url(../img/menuLateral.jpg) -195px -150px;	
}	

#btInfor{
	background:url(../img/menuLateral.jpg) 0px -179px;
	width:195px;
	height:29px;
	display:block;	
	
}
#btInfor:hover{
	background:url(../img/menuLateral.jpg) -195px -179px;	
}	

#btFace{
	background:url(../img/menuLateral.jpg) 0px -265px;
	width:57px;
	height:58px;
	margin:57px 0 0 0;
	display:block;	
	float:left;
	}
#btFace:hover{
	background:url(../img/menuLateral.jpg) 195px -265px;
	}

#btTwitter{
	background:url(../img/menuLateral.jpg) -57px -265px;
	width:57px;
	height:58px;
	display:block;	
	margin:57px 0 0 0;
	float:left;
	}
#btTwitter:hover{
	background:url(../img/menuLateral.jpg) -252px -265px;
	}

#btGplus{
	background:url(../img/menuLateral.jpg) -114px -265px;
	width:63px;
	height:58px;
	margin:57px 0 0 0;
	display:block;	
	float:left;
	}
#btGplus:hover{
	background:url(../img/menuLateral.jpg) -309px -265px;
	}		
	
	
.tudoAzul{
	width:688px;
	min-height:3700px;
	margin:auto;
	display:block;
	position:relative;
	top:280px;
	padding: 0 282px 0 30px;
	top:1134px;
	
	}	
	
	
.blocoConteudo{
	width:100%;
	padding: 10px 10px 10px 0px;
	display:block;
	background:#61B0D7;
	margin:15px 0 0 0;
	}	
	
	
	
#chamadaTrabalho{
	margin:135px 0 0 0;
	display:block;
	height:650px;
	width:716px;
	position:relative;
	display:block;
	}	

#programacao{
	margin:400px 0 0 0;
	display:block;
	width:100%;
	width:716px;
	position:relative;
	
	}

#submissoes{
	margin:135px 0 0 0;
	display:block;
	height:1400px;
	width:716px;
	position:relative;
	display:block;
	}
	
#equipe{
	margin:400px 0 0 0;
	display:block;
	width:100%;
	min-height:900px;
	position:relative;
	
	}	

/* FORMATAÇÃO DO TEXTO ---------------------------------------------------------------------------*/

.itemDestaque{
	background-color:#3A7E9F;
	display:inline;
	padding:2px 10px 3px 10px;
	width:auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	line-height:30px;
	color:#FFF;
	margin: 0px 5px 0 0;
	cursor:pointer;
	}
	
.itemDestaque:hover{
	background-color:#09C;
	color:#FFF;
	font-weight:none;
	}	

.ulTopicos li{
	list-style:circle;
	/* background:url(../img/topico.png)0 10px no-repeat;*/
	padding: 2px 10px 2px 8px;
	line-height:30px;
	fon	
	}


.caixaDestaque{
	background:#4E9ABF url(../img/bgCaixaDestaque.png) repeat-x;
	height: auto; min-height:180px;
	margin: 20px 0 0 0;
	padding:15px 5px 0px 10px;
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	color:#fff;
	display:block;
	line-height:17px;
	text-align:justify;
	}
.caixaDestaque a{
	display:inline;
	padding:2px 10px 3px 10px;
	width:auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	line-height:30px;
	color:#FFF;
	margin: 0px 5px 0 0;
	text-decoration:none;
}
.caixaDestaque a:hover{
	background-color:#09C;
	color:#FFF;
	font-weight:none;
	
}
	
.bordaCaixaDestaque{
	background:url(../img/bordaCaixaDestaque.png);
	width:21px; height:21px;
	position:relative;
	float:right;
	vertical-align:bottom;
	margin: 10px -5px 0px 0;
	}	
	
.sanfona{
	margin-top:20px;
	}
.sanfona h1{
	display:block;
	font-size:13px;
	font-weight:bold;
	margin: 10px 0 5px 0;
	padding: 0 0 0 25px;
	background:url(../img/topicoSanf.png) #4992B7 no-repeat 8px 10px;
	line-height:30px;
	}
.pEspacoSub{
	display:block;
	padding: 0 0 0 30px;
	}	
.sanfona h2{
	display:block;
	font-size:13px;
	font-weight:bold;
	margin: 10px 0 5px 0;
	padding: 0 0 0 25px;
	background:url(../img/topicoSanf2.png) no-repeat 8px 10px;
	line-height:30px;
	}	
	
.sanfonaTitulo{
	background:url(../img/sanfonaTitulo.png);
	width:731px; height:37px;
	margin:3px 0 0 0;
	cursor:pointer;
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.8em;
	text-indent:20px;
	color:#FFF;
	font-weight:bold;
	line-height:37px;

	}	
.sanfonaTitulo:hover{
	background:url(../img/sanfonaTitulo.png) 0px 37px;
	}	
	
	.sanfonaCorpo{
	background:#4F9EC5;
	width:711px;
	margin:0 0 0 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.1em;
	text-align:justify;
	padding:10px;
	color:#FFF;
	line-height:30px;
	overflow:auto;
	height:508px;
	/*display:none;*/

	}
	
.sanfonaCorpo strong, .sanfonaCorpo a, .sanfonaCorpo a:hover{
	background-color:#4992B7;
	padding:2px;
	color:#fff;
	text-decoration:none;

}
	
	
	
	
.tituloAzul{
	width:313px; 
	height:29px;
	background:url(../img/bgTituloAzul.png);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.8em;
	color:#0D2B38;
	text-indent:35px;
	line-height:29px;
	margin: 0 0 20px 0;
	}

.tituloBranco{
	width:313px; 
	height:29px;
	background:url(../img/bgTituloBranco.png);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.8em;
	color:#0D2B38;
	text-indent:35px;
	line-height:29px;
	margin: 0 0 20px 0;
	}

.textoAzul{
	width:716px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	color:#0D2B38;
	display:block;
	line-height:30px;
	text-align:justify;
	float:left;
	}
	
.textoBranco{
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	color:#fff;
	display:block;
	line-height:30px;
	text-align:justify;
	float:left;
	opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
	}


/*  FIM : FORMATAÇÃO DO TEXTO ---------------------------------------------------------------------------*/


	
	
/* MENUU BOLHAS --------------------------------------------------*/


#menu {
	position:absolute;
	left:73%;

	width:346px;
	height:368px;
	z-index:7;
}

.voltar, .apresentacao, .topicos, .submissoes, .equipe, .organizacao, .palestrantes, .historico, .avancar {
	border-radius:66px;
	-moz-border-radius:66px;
	-webkit-border-radius:66px;
	-khtml-border-radius:66px;
	display:block;
	color:#0C2B38;
	/*text-shadow:0 1px 0 #fff;*/
	text-decoration:none;
	text-align:center;
	background-color:#fff;
	position:relative;
	/*border:#ccc 4px double;*/
	font-family:"Trebuchet MS"; font-weight:bold;
	cursor:pointer;
	}

.voltar{
left:100px; top:-400px;
width:40px; height:40px;
font-size:1.5em;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.voltar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}


.apresentacao{
top:-400px; left:100px;
width:103px; height:103px;
font-size:1.2em; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.apresentacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.topicos{
top:-410px; left:160px;
width:58px; height:58px;
font-size:1.2em; 
line-height:58px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

/* .topicos:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}
*/
.submissoes{
top:-450px; left:50px;
width:136px; height:136px;
font-size:1.6em; 
line-height:16px;
display:table !important;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.submissoes:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.centralizar{
	display:table-cell;
	vertical-align:middle; 
	}
	
.equipe{
top:-450px; left:103px;
width:103px; height:103px;
font-size:1.2em; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.equipe:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.organizacao{
top:-560px; left:160px;
width:68px; height:68px;
font-size:10px; 
line-height:68px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);


 }

.organizacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.palestrantes{
top:-790px; left:100px;
width:73px; height:73px;
font-size:10px; 
line-height:73px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.palestrantes:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.historico{
top:-913px; left:150px;
width:63px; height:63px;
font-size:10px; 
line-height:63px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.historico:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.avancar{
top:-900px;
left:150px;
width:40px; height:40px;
font-size:1.5em;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.avancar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}




/* FIM MENU  ------------------------------------------------------------------------- */

/* FORMATAÇÃO DE TEXTO EM SUBMISSÕES  --------- */

.sanfonaCorpo li{
	height:25px;
	list-style:none;
	line-height: 25px;
	display:block;
	}
.sanfonaCorpo li:hover{
	background-color:#FFF;
	color:#039;	
	} 	

/* ACESSIBILIDADE */
.acessibilidade{
	width:100%;
	position:fixed;
	bottom: 10px;
	height:39px;
	background:#000;
	display:none;
	
	font: normal small-caps bold 11px Arial, Helvetica, sans-serif;
 	color:#fff;
	text-align:right;
	line-height:39px;	
	
	z-index:111; 
	
	opacity: 0.8; -moz-opacity: 0.8; filter:alpha(opacity=80);

	}
.aumentarFonte{
	font-size:0px;
	width:44px;
	height:39px;
	background:url(../img/aumentarFonte.png) 0 0;
	float:right;
	display:block;
	cursor:pointer;
	margin:0 0 0 10px;
	}	
	.aumentarFonte:hover{
		background:url(../img/aumentarFonte.png) 0 -39px;	
		}	
.diminuirFonte{
	font-size:0px;
	width:44px;
	height:39px;
	background:url(../img/dimFonte.png) 0 0;
	float:right;
	display:block;
	cursor:pointer;
	margin:0 0 0 0px;
	}	
	.diminuirFonte:hover{
		background:url(../img/dimFonte.png) 0 -39px;	
		}	
	
.fecharAcessibilidade{
	width:11px;
	height:12px;
	background:url(../img/fechar.jpg) 0 0 no-repeat;
	margin:2px 4px 0 5px;
	display:block;
	float:right;
	cursor:pointer;
	}	
	
	.fecharAcessibilidade:hover{
		background:url(../img/fechar.jpg) 0 -12px no-repeat;
		}	
	
	
/* RODAPE  --------------------------------------------------------------- */
.rodape{
	
	display:block;
	height:300px;
	width:100%;
	position:absolute;
	z-index:2000;
	margin:850px 0 0 0;
	background-color:#5C2E2E;
	background:url(../img/rodape.png)#4A2E2A 20px 30px no-repeat;
	}	
	
.texturaRodape{
	background:url(../img/texturaRodape.png);
	width:100%;
	height:310px;
	margin: -8px 0 0 0;
	}	
	
.btVoltar{
	background:url(../img/btVoltar.png);
	width:136px;
	height:23px;
	margin:-325px 0 0 190px;	
	cursor:pointer;
	}
.btVoltar:hover{
	background:url(../img/btVoltar.png) 0 -23px;
	
}



/* PAGINA DE THICKBOX */

.bgThickBox{
	background:url(../img/bgThickBOx.jpg) repeat-x;
	width:98%;
	height:71px;
	padding: 25px 0 0 10px;
	}
	
.tituloThickBox{
	font-size:25px;
	font-family:Verdana, Geneva, sans-serif;
	color:#0C2B38;
	font-weight:bold;
	}
.blocoThickBox{
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	color:#0C2B38;
	padding: 25px 0 0 10px;
	}	
/* FIM THICK BOX*/