body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../img/bgGeral.jpg) repeat-x;
}
.clear{ clear:both;}

.topo{
	background-color:#FFF;
	width:100%;
	height:1034px;
	position:absolute;
	z-index:1000;
	}
	
#beta{
	background:url(../img/beta.png) top;
	width:64px; height:64px;
	position:fixed;
	top:0;
	margin:0;
	left:0px;
	z-index:3000;
	}

#idioma{
	background:url(../img/idioma.png) top;
	width:119px; height:31px;
	position:fixed;
	top:0;
	margin:0;
	left:90%;
	z-index:150;
	}
#idiomaEn{
	width:54px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 0px 0px;
	float:left;
	}
#idiomaEn:hover{
	background:url(../img/idioma.png) 0px 31px;
}
#idiomaPt{
	width:65px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 65px 0px;
	float:right;
	}
#idiomaPt:hover{
	background:url(../img/idioma.png) 65px -31px;
}

#logo{
	background:url(../img/logo.jpg);
	width:523px; height:71px;
	top:101px; left:-180px;
	position:relative;
	margin:auto;
	}

#menuHorz{
	width:952px;
	height:49px;
	top:200px;
	margin:auto;
	display:block;
	position:relative;
	background:url(../img/bgMenu.png) repeat-x;
	}

#menuHorz ul{
	list-style:none;
	}

#menuHorz li{
	display:inline;
	float:left;
	left:-10px;
	line-height:49px;
	margin:0 15px 0 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li a{
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li:hover, a:hover{
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
	
#pontaMenu{
	background:url(../img/pontaMenu.png);
	width:25px; height:49px;
	float:left;
	position:relative;
	left:-25px;
	}

#peixeCima{
	background:url(../img/peixe.png);
	width:327px; height:169px;
	float:right;
	left:70%;
	margin: -180px 0 0 0;
	position:absolute;
	z-index:100;
	
	}
	
#peixeBaixo{
	background:url(../img/peixe.png) -95px -159px no-repeat;
	width:235px; height:99px;
	float:right;
	left:80%;
	top:160px;
	margin: -180px 0 0 0;
	position:absolute;
	z-index:100;
	
	}

.conteudo{
	width:970px;
	height:524px;
	margin:auto;
	display:block;
	position:relative;
	top:280px;
	padding: 0 0 0 30px;
	}

	
.lateralMenu{
	background-image:url(../img/menuLateral.jpg);
	width:195px;
	height:323px;
	float:right;
	font-size:0px;
	}
	
	
#btInscr{
	background-image:url(../img/menuLateral.jpg);
	width:195px;
	height:72px;
	display:block;
	
	
	}	
	
#btInscr:hover{
	background:url(../img/menuLateral.jpg) -195px 0px;
	
}
	
#btHoteis{
	background:url(../img/menuLateral.jpg) 0px -150px;
	width:195px;
	height:29px;
	margin:78px 0 0 0;
	display:block;	
	
}
#btHoteis:hover{
	background:url(../img/menuLateral.jpg) -195px -150px;	
}	

#btInfor{
	background:url(../img/menuLateral.jpg) 0px -179px;
	width:195px;
	height:29px;
	display:block;	
	
}
#btInfor:hover{
	background:url(../img/menuLateral.jpg) -195px -179px;	
}	

#btFace{
	background:url(../img/menuLateral.jpg) 0px -265px;
	width:57px;
	height:58px;
	margin:57px 0 0 0;
	display:block;	
	float:left;
	}
#btFace:hover{
	background:url(../img/menuLateral.jpg) 195px -265px;
	}

#btTwitter{
	background:url(../img/menuLateral.jpg) -57px -265px;
	width:57px;
	height:58px;
	display:block;	
	margin:57px 0 0 0;
	float:left;
	}
#btTwitter:hover{
	background:url(../img/menuLateral.jpg) -252px -265px;
	}

#btGplus{
	background:url(../img/menuLateral.jpg) -114px -265px;
	width:63px;
	height:58px;
	margin:57px 0 0 0;
	display:block;	
	float:left;
	}
#btGplus:hover{
	background:url(../img/menuLateral.jpg) -309px -265px;
	}		
	
	
.tudoAzul{
	width:688px;
	margin:auto;
	display:block;
	position:relative;
	top:280px;
	padding: 0 282px 0 30px;
	top:1134px;
	
	}	
	
	
.blocoConteudo{
	width:100%;
	padding:10px;
	display:block;
	background:#61B0D7;
	margin:15px 0 0 0;
	}	
	
	
	
#chamadaTrabalho{
	margin:135px 0 0 0;
	display:block;
	height:650px;
	width:716px;
	position:relative;
	display:block;
	}	

#programacao{
	margin:400px 0 0 0;
	display:block;
	width:100%;
	width:716px;
	position:relative;
	
	}

#submissoes{
	margin:135px 0 0 0;
	display:block;
	height:1500px;
	width:716px;
	position:relative;
	display:block;
	}
	
#equipe{
	margin:400px 0 0 0;
	display:block;
	width:100%;
	width:716px;
	position:relative;
	
	}	

/* FORMATAÇÃO DO TEXTO ---------------------------------------------------------------------------*/

.itemDestaque{
	background-color:#3A7E9F;
	display:inline;
	padding:2px 10px 3px 10px;
	width:auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:30px;
	color:#FFF;
	margin: 0px 5px 0 0;
	}
	
.itemDestaque:hover{
	background-color:#09C;
	color:#FFF;
	font-weight:none;
	}	

.caixaDestaque{
	background:#4E9ABF url(../img/bgCaixaDestaque.png) repeat-x;
	height: auto; min-height:150px;
	margin: 20px 0 0 0;
	padding:15px 5px 10px 10px;
	width:644px;
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	display:block;
	line-height:30px;
	text-align:justify;
	}
.caixaDestaque a{
	display:inline;
	padding:2px 10px 3px 10px;
	width:auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:30px;
	color:#FFF;
	margin: 0px 5px 0 0;
	text-decoration:none;
}
.caixaDestaque a:hover{
	background-color:#09C;
	color:#FFF;
	font-weight:none;

}
	
.bordaCaixaDestaque{
	background:url(../img/bordaCaixaDestaque.png);
	width:21px; height:21px;
	float:right;
	vertical-align:bottom;
	margin: -10px -5px 30px 0;
	}	
	
.sanfona{
	margin-top:20px;
	}

	
.sanfonaTitulo{
	background:url(../img/sanfonaTitulo.png);
	width:731px; height:37px;
	margin:3px 0 0 0;
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	text-indent:20px;
	color:#FFF;
	font-weight:bold;
	line-height:37px;

	}	
.sanfonaTitulo:hover{
	background:url(../img/sanfonaTitulo.png) 0px 37px;
	}	
	
	.sanfonaCorpo{
	background:#4F9EC5;
	width:711px;
	margin:0 0 0 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	padding:10px;
	color:#FFF;
	line-height:30px;
	overflow:auto;
	height:508px;
	/*display:none;*/

	}
	
	
	
	
	
	
.tituloAzul{
	width:313px; 
	height:29px;
	background:url(../img/bgTituloAzul.png);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#0D2B38;
	text-indent:35px;
	line-height:29px;
	margin: 0 0 20px 0;
	}

.tituloBranco{
	width:313px; 
	height:29px;
	background:url(../img/bgTituloBranco.png);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#0D2B38;
	text-indent:35px;
	line-height:29px;
	margin: 0 0 20px 0;
	}

.textoAzul{
	width:716px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0D2B38;
	display:block;
	line-height:30px;
	text-align:justify;
	float:left;
	}
	
.textoBranco{
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	display:block;
	line-height:30px;
	text-align:justify;
	float:left;
	opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
	}


/*  FIM : FORMATAÇÃO DO TEXTO ---------------------------------------------------------------------------*/


	
	
/* MENUU BOLHAS --------------------------------------------------*/


#menu {
	position:absolute;
	left:922px;
	top:113px;
	width:346px;
	height:368px;
	z-index:7;
}

.voltar, .apresentacao, .topicos, .chamada, .programacao, .organizacao, .palestrantes, .historico, .avancar {
	border-radius:66px;
	-moz-border-radius:66px;
	-webkit-border-radius:66px;
	-khtml-border-radius:66px;
	display:block;
	color:#0C2B38;
	/*text-shadow:0 1px 0 #fff;*/
	text-decoration:none;
	text-align:center;
	background-color:#fff;
	position:absolute;
	/*border:#ccc 4px double;*/
	font-family:"Trebuchet MS"; font-weight:bold;
	}

.voltar{
left:100px; top:-300px;
width:40px; height:40px;
font-size:15px;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.voltar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}


.apresentacao{
top:-260px; left:100px;
width:103px; height:103px;
font-size:12px; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.apresentacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.topicos{
top:-176px; left:160px;
width:58px; height:58px;
font-size:12px; 
line-height:58px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.topicos:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.chamada{
top:-255px; left:50px;
width:136px; height:136px;
font-size:16px; 
line-height:16px;
display:table !important;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.chamada:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.centralizar{
	display:table-cell;
	vertical-align:middle; 
	}
	
.programacao{
top:-130px; left:103px;
width:103px; height:103px;
font-size:12px; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.programacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.organizacao{
top:-130px; left:160px;
width:68px; height:68px;
font-size:10px; 
line-height:68px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.organizacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.palestrantes{
top:-282px; left:100px;
width:73px; height:73px;
font-size:10px; 
line-height:73px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.palestrantes:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.historico{
top:-320px; left:150px;
width:63px; height:63px;
font-size:10px; 
line-height:63px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.historico:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.avancar{
top:-240px;
left:150px;
width:40px; height:40px;
font-size:15px;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.avancar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}




/* FIM MENU  ------------------------------------------------------------------------- */



