body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.topo{
	background-color:#FFF;
	width:100%;
	height:1034px;
	position:absolute;
	z-index:1000;
	}


#idioma{
	background:url(../img/idioma.png) top;
	width:119px; height:31px;
	position:fixed;
	top:0;
	margin:0;
	left:90%;
	}
#idiomaEn{
	width:54px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 0px 0px;
	float:left;
	}
#idiomaEn:hover{
	background:url(../img/idioma.png) 0px 31px;
}
#idiomaPt{
	width:65px; height:31px;
	line-height:31px;
	text-indent:4000px;
	background:url(../img/idioma.png) 65px 0px;
	float:right;
	}
#idiomaPt:hover{
	background:url(../img/idioma.png) 65px -31px;
}

#logo{
	background:url(../img/logo.jpg);
	width:523px; height:71px;
	top:101px; left:-180px;
	position:relative;
	margin:auto;
	}

#menuHorz{
	width:952px;
	height:49px;
	top:200px;
	margin:auto;
	display:block;
	position:relative;
	background:url(../img/bgMenu.png) repeat-x;
	}

#menuHorz ul{
	list-style:none;
	}

#menuHorz li{
	display:inline;
	float:left;
	left:-10px;
	line-height:49px;
	margin:0 15px 0 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li a{
	font-weight:none;
	color:#000;
	text-decoration:none;
	}
#menuHorz li:hover, a:hover{
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
	
#pontaMenu{
	background:url(../img/pontaMenu.png);
	width:25px; height:49px;
	float:left;
	position:relative;
	left:-25px;
	}

#peixe{
	background:url(../img/peixe.png);
	width:327px; height:235px;
	float:right;
	left:70%;
	margin: -180px 0 0 0;
	position:absolute;
	z-index:100;
	
	}

/* MENUU BOLHAS --------------------------------------------------*/


#menu {
	position:absolute;
	left:922px;
	top:113px;
	width:346px;
	height:368px;
	z-index:7;
}

.voltar, .apresentacao, .topicos, .chamada, .programacao, .organizacao, .palestrantes, .historico, .avancar {
	border-radius:66px;
	-moz-border-radius:66px;
	-webkit-border-radius:66px;
	-khtml-border-radius:66px;
	display:block;
	color:#0C2B38;
	text-shadow:0 1px 0 #fff;
	text-decoration:none;
	text-align:center;
	background-color:#fff;
	position:absolute;
	/*border:#ccc 4px double;*/
	font-family:"Trebuchet MS"; font-weight:bold;
	}

.voltar{
left:100px; top:-300px;
width:40px; height:40px;
font-size:15px;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.voltar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}


.apresentacao{
top:-260px; left:100px;
width:103px; height:103px;
font-size:12px; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.apresentacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.topicos{
top:-176px; left:160px;
width:58px; height:58px;
font-size:12px; 
line-height:58px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.topicos:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.chamada{
top:-255px; left:50px;
width:136px; height:136px;
font-size:16px; 
line-height:16px;
display:table !important;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.chamada:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.centralizar{
	display:table-cell;
	vertical-align:middle; 
	}
	
.programacao{
top:-130px; left:103px;
width:103px; height:103px;
font-size:12px; 
line-height:103px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.programacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.organizacao{
top:-130px; left:160px;
width:68px; height:68px;
font-size:10px; 
line-height:68px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.organizacao:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.palestrantes{
top:-282px; left:100px;
width:73px; height:73px;
font-size:10px; 
line-height:73px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.palestrantes:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}

.historico{
top:-320px; left:150px;
width:63px; height:63px;
font-size:10px; 
line-height:63px;
opacity: .55; -moz-opacity: .55; filter:alpha(opacity=55);

 }

.historico:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}	

.avancar{
top:-240px;
left:150px;
width:40px; height:40px;
font-size:15px;
line-height:40px;
opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100);
 }

.avancar:hover{
color:#aaa;
text-decoration:none;
background-color:#0C2B38;
}
/* FIM MENU  ------------------------------------------------------------------------- */



/* ancoras temporarias ----------------------------------------------------------------  */
#chamada {
	position:absolute;
	left:164px;
	top:2313px;
	width:366px;
	height:19px;
	z-index:1;
}
#topicos {
	position:absolute;
	left:187px;
	top:1009px;
	width:311px;
	height:27px;
	z-index:2;
}
#apresentacao {
	position:absolute;
	left:151px;
	top:6px;
	width:291px;
	height:25px;
	z-index:3;
}
#programacao {
	position:absolute;
	left:190px;
	top:3280px;
	width:311px;
	height:30px;
	z-index:4;
}
#organizacao {
	position:absolute;
	left:184px;
	top:4147px;
	width:309px;
	height:32px;
	z-index:5;
}
#palestrantes {
	position:absolute;
	left:204px;
	top:4967px;
	width:288px;
	height:19px;
	z-index:6;
}
/* FIm das ancoras temporarias ---------------------------------------------------------*/