/* CSS Document */
/* Formulario de Login */
#centraliza
	{
		width:600px;
		margin:50px auto;
		clear:both;
	}

#login
	{
		background:#FFFFFF;
	}

.fieldsetLogin
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:600px;
	}

 .legendaLogin
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroLogin
	{
		color:#6C8F25;
		font-size:10px;
	}

.inputLogin
	{
	
		display:block;
		float:left;
	}	

.labelLogin
	{
		display:block;
		float:left;
	}	
	
.labelLogin
	{
		text-align: left;
		width: 120px;
		padding-right: 20px;
		padding-bottom: 10px;
	}

.brLogin
	{
		clear:left;
	}	

.botaoLogin
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
		margin-top:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
	}
.erro
	{
		color:#FF0000;
	}	