/* CSS Document */
/* Formulario de Enquete */
#centraliza
	{
		width:300px;
		margin:50px auto;
		clear:both;
	}

#enquete
	{
		background:#FFFFFF;
		clear:both;
	}

.fieldsetEnquete
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:300px;
	}

 .legendaEnquete
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroEnquete
	{
		color:#6C8F25;
		font-size:10px;
	}

.inputEnquete
	{
		display:block;
		float:left;
		margin-top:10px;
	}	

.labelEnquete
	{
		margin-top:10px;
		display:block;
		float:left;
		text-align: left;
		width: 120px;
		padding-right: 20px;
		padding-bottom: 10px;
	}

.brEnquete
	{
		clear:left;
	}	

.botaoEnquete
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
		margin-top:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
		margin-bottom:10px;
	}
.erro
	{
		color:#FF0000;
	}	