/* Formulario de Fullbanner */
#centraliza
	{
		width:450px;
		margin:20px auto;
		clear:both;
	}

#fullbanner
	{
		background:#FFFFFF;
		width:450px;
		left:50%;	
	}

.fieldsetFullbanner
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:450px;
	}

 .legendaFullbanner
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroFullbanner
	{
		color:#663300;
		font-size:10px;
	}

.inputFullbanner
	{
		margin-top:10px;
		display:block;
		float:left;
	}	

.labelFullbanner
	{
		margin-top:10px;
		text-align: right;
		width: 90px;
		padding-right: 15px;
		padding-bottom: 10px;
		display:block;
		float:left;
		margin-right:3px;

	}
.brFullbanner
	{
		clear:left;
	}	
.botaoFullbanner
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
		margin-bottom:10px;
	}

.linksFullbanner
	{
		display:block;
		float:left;
		text-align:right;
		margin-left:5px;
	}

a.lembrarSenhaFullbanner
	{
		font-size:8px;
		color:#000000;
		text-decoration:none;
	}

.inputLembrarSenha
	{
		width:150px;
		display:block;
		float:left;
		margin-right:5px;
	}	


.botaoLembrarSenha
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#663300;
        border:0px;
        width:99px;
        height:19px;
		font-size:12px;
	}	