/* CSS Document */
/* Formulario de Galeria */
#centraliza
	{
		width:350px;
		margin:50px auto;
		clear:both;
	}

#formulario
	{
		background:#FFFFFF;
		
	}

.fieldsetGaleria
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:350px;
	}

 .legendaGaleria
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroGaleria
	{
		color:#6C8F25;
		font-size:10px;
	}

.inputGaleria
	{
		margin-top:10px;
		display:block;
		float:left;
		width:150px;
		
	}	
	
.textareaGaleria
	{
	
		display:block;
		float:left;
		width:150px;
		margin-top:10px;
	}	

.labelGaleria
	{
		display:block;
		float:left;
		text-align: left;
		width: 70px;
		padding-bottom: 10px;
		margin-top:10px;
	}

.brGaleria
	{
		clear:left;
	}	

.botaoGaleria
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
		margin-top:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
		margin-bottom:10px;
	}
.erro
	{
		color:#FF0000;
	}	