/* CSS Document */
/* Formulario de Link */
#centraliza
	{
		width:300px;
		margin:50px auto;
		clear:both;
	}

#link
	{
		background:#FFFFFF;
		left:50%;
	}

.fieldsetLink
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:300px;
	}

 .legendaLink
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroLink
	{
		color:#6C8F25;
		font-size:10px;
	}

.inputLink
	{
		margin-top:10px;	
		display:block;
		float:left;
	}	

.labelLink
	{
		display:block;
		float:left;
		margin-top:10px;
		text-align: right;
		width: 35px;
		padding-right: 20px;
		padding-bottom: 10px;
	}

.brLink
	{
		clear:left;
	}	

.botaoLink
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
		margin-bottom:10px;
	}
	
.erro
	{
		color:#FF0000;
	}	