/* CSS Document */
/* Formulario de Video */
#centraliza
	{
		width:330px;
		margin:50px auto;
		clear:both;
	}

#formulario
	{
		background:#FFFFFF;
	}

.fieldsetVideo
	{
		background:#FFFFFF;
		border: solid 1px #0099FF;
		width:330px;
	}

 .legendaVideo
 	{
		background-color:#0099FF;
		text-align:left;
		color:#FFFFFF;
	}

.erroVideo
	{
		color:#0099FF;
		font-size:10px;
	}

.inputVideo
	{
	
		display:block;
		float:left;
	}	

.labelVideo
	{
		display:block;
		float:left;
	}	
	
.labelVideo
	{
		text-align: left;
		width: 80px;
		padding-bottom: 10px;
	}

.brVideo
	{
		clear:left;
	}	

.botaoVideo
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
		margin-top:10px;
        color:#FFFFFF;
        background:#0099FF;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
	}
.erro
	{
		color:#FF0000;
	}	