body 
	{
		margin:0;
		padding:0;
		font: bold 11px/1.5em Verdana;
	}

#geral
	{
		width:800px;
		margin:0 auto;
	}

#topo
	{
		width:800px;
		height:80px;
		background-image:url(../imagens/dpp_logo.jpg);
		background-repeat:no-repeat;
	}	
#conteudo
	{
		margin-top:15px;
		width:778px;	
		clear:both;	
	}

#rodape
	{
		background-image:url(../imagens/dpp_rodape.jpg);
		height:50px;
		text-align:center;
	}

/*- Menu Tabs F--------------------------- */
div#menu {
    height:41px;
    background:url(../imagens/main-bg.png) repeat-x;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 15px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(../imagens/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(../imagens/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li { background: url(../imagens/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: rgb(45,45,45);
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(../imagens/lava.png) no-repeat right -44px !important;
    background-image: url(../imagens/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(../imagens/lava.png) no-repeat top left !important;
    background-image: url(../imagens/lava.gif);
    height: 44px;
    margin-right: 8px;
}



/*Tratamento link*/
a
	{
		color:#000000;
		text-decoration:none;
	}

a:hover
	{
		text-decoration:underline;
	}
	
/*ESTILO GERAL PARA CADASTRO*/
/* Formulario de Cadastro */
#centralizaCadastro
	{
		width:500px;
		margin:20px auto;
		clear:both;
	}

#Cadastro
	{
		background:#FFFFFF;
		width:455px;
		left:50%;
	}

.fieldsetCadastro
	{
		background:#FFFFFF;
		border: solid 1px #6C8F25;
		width:450px;
	}

 .legendaCadastro
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.erroCadastro
	{
		color:#663300;
		font-size:10px;
	}

.inputCadastro
	{
	
		display:block;
		float:left;
	}	

.labelCadastro
	{
		display:block;
		float:left;
	}	
	
.labelCadastro
	{
		text-align: right;
		width: 60px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
.brCadastro
	{
		clear:left;
	}	
.botaoCadastro
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#6C8F25;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
	}

.linksCadastro
	{
		display:block;
		float:left;
		text-align:right;
		margin-left:5px;
	}
