/* Formulario de Login */
#centraliza
	{
		width:300px;
		margin:20px auto;
		clear:both;
	}

#login
	{
		background:#FFFFFF;
		width:255px;
		left:50%;
	}

.fieldsetLogin
	{
		background:#FFFFFF;
		border: solid 1px #0099FF;
		width:250px;
	}

 .legendaLogin
 	{
		background-color:#0099FF;
		text-align:left;
		color:#FFFFFF;
	}

.erroLogin
	{
		color:#663300;
		font-size:10px;
	}

.inputLogin
	{
	
		display:block;
		float:left;
	}	

.labelLogin
	{
		display:block;
		float:left;
	}	
	
.labelLogin
	{
		text-align: right;
		width: 35px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
.brLogin
	{
		clear:left;
	}	
.botaoLogin
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#0099FF;
        border:0px;
        width:60px;
        height:19px;
		font-size:12px;
	}

.linksLogin
	{
		display:block;
		float:left;
		text-align:right;
		margin-left:5px;
	}

a.lembrarSenhaLogin
	{
		font-size:8px;
		color:#000000;
		text-decoration:none;
	}

.inputLembrarSenha
	{
		width:150px;
		display:block;
		float:left;
		margin-right:5px;
	}	


.botaoLembrarSenha
	{
		float:left;
		display:block;
		margin-left:55px;
		margin-right:10px;
        color:#FFFFFF;
        background:#663300;
        border:0px;
        width:99px;
        height:19px;
		font-size:12px;
	}	