/*Propriedade da tab*/
.cabacalhoPesquisa
	{
		background-color:#6C8F25;
		font-size: 11px;
		font-style: normal;
		font-weight: normal;
		color: #ffffff;
	}
.campo
	{
		float:left;
	}	
.camposPesquisa 
	{
		font-size: 11px;
		text-decoration: none;
		border: 1px solid #666666;
		width:90px;
		float:left;
		margin:0 3px 0 3px; 
	}

.botaoBusca
	{
        color:#FFFFFF;
        background:#6C8F25;
		font-size:12px;
		float:left;
		border:none;
	}

.titulo_grid 
	{
		font-size:11px;
		font-weight: bold;
		color:#FFFFFF;
		height:20px;
	}

.conteudo_grid 
	{
		font-size:10px;
		color:#000000;
		height:18px;
	}


.fundoZebra1
	{
		background-color:#FFFFFF;
	}



.fundoZebra2
	{
		background-color:#F0F0F0;
	}

/*Blocos Sistema - Parte superior*/
.blocoSuperior
	{
		width: 100%;
		text-align:center;
	}

.blocoCadastro
	{
		width:25%;
		float:left;
		margin-top:10px;
	}

.blocoBusca
	{
		margin-top:10px;
		width:50%;
		float:left;
	}

.blocoMostra
	{
		margin-top:10px;
		width:25%;
		float:left;
	}

.paginacao
	{
		width:100%;
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}


.fieldsetPesquisa
	{
		background:#FFFFFF;
		width:100%;
	}

 .legendaPesquisa
 	{
		background-color:#6C8F25;
		text-align:left;
		color:#FFFFFF;
	}

.tabelaPrincipal
	{
		margin-top:10px;	
		width:100%;
		clear:both;
	}
.letreiro
	{
		float:left;
		margin-top:10px;
		color:#FFFFFF;
		width:100%;
		background-color:#6C8F25;
		text-align:center;
	}

.erroBusca	
	{
		text-align:center;
		color:#CC0000;
	}
	
/*Propriedades do Formulário*/

#principal
	{
		text-align:center;
		padding-top:30px;
		margin-bottom:60px;
	}

#breadcumbs
	{
		width:100%;
		padding-left:5px;
	}
a.breadcumb
	{
		text-decoration:none;
		font-size:10px
	}
a.breadcumbs:hover
	{
		text-decoration:underline;
		font-size:10px
	}	

a.breadcumbs:link
	{
		text-decoration:none;
		font-size:10px
	}	